### Import Data

In [1]:
import os
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import missingno as msno
from sqlalchemy import create_engine

### Database

In [2]:
def acquire(path):
    db_path = '../data/raw/raw_data_project_m1.db'
    engine = create_engine(f'sqlite:///{db_path}')
    total = pd.read_sql_query('SELECT * FROM poll_info join career_info on career_info.uuid = poll_info.uuid join country_info on country_info.uuid = poll_info.uuid join personal_info on personal_info.uuid = poll_info.uuid', engine)

In [3]:
db_path = '../data/raw/raw_data_project_m1.db'

In [4]:
engine = create_engine(f'sqlite:///{db_path}')

In [5]:
header_tables = engine.table_names()
header_tables

['career_info', 'country_info', 'personal_info', 'poll_info']

In [6]:
for table in range(0,len(header_tables)):
    single = header_tables[table]
    query = f'SELECT * FROM {single}'
    data = pd.read_sql(query, con=engine)
    if table == 0:
        raw_data = data
    else:
        raw_data = pd.merge(raw_data, data, how='left', on='uuid')

In [7]:
raw_data

,uuid,dem_education_level,dem_full_time_job,normalized_job_code,country_code,rural,age,gender,dem_has_children,age_group,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,car,no,no,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,AT,urban,57 years old,male,yES,40_65,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None,AT,city,32 years old,male,nO,26_39,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,AT,Country,45 years old,Male,YES,40_65,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,AT,city,41 years old,Fem,yES,40_65,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,high,yes,847165cfda6b1dc82ae22b967da8af2f,SK,urban,37 years old,FeMale,nO,26_39,I understand it fully,I would probably vote for it,‰Û_ spend more time with my family,It reduces bureaucracy and administrative expe...,It is impossible to finance
9645,39f989f0-db52-0133-8482-0a81e8b09a82,high,yes,a4d5b8b38f9513825d0d94a981ebe962,SK,urban,53 years old,Male,yES,40_65,I have never heard of it,I would probably vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | On...
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,low,no,None,SK,Non-Rural,1992,male,NO,juvenile,I have heard just a little about it,I would not vote,‰Û_ spend more time with my family,It reduces anxiety about financing basic needs,None of the above
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,low,yes,775190277a849cba701b306a7b374c0a,SK,city,47 years old,male,yES,40_65,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,Foreigners might come to my country and take a...
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,high,yes,8a7a3f1bce0958ae9f090683e5a925b7,SK,city,51 years old,FeMale,YES,40_65,I understand it fully,I would vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | It...

In [8]:
print('DATAFRAME SHAPE \n - rows: {} \n - columns: {}'.format(raw_data.shape[0],raw_data.shape[1]),'\n')
print('DATAFRAME NULLS COUNT: \n{}'.format(raw_data.isnull().sum()),'\n')
print('DATAFRAME COLUMNS TYPE: \n{}'.format(raw_data.dtypes,'\n'))

DATAFRAME SHAPE
 - rows: 9649
 - columns: 15

DATAFRAME NULLS COUNT:
uuid                                                      0
dem_education_level                                     663
dem_full_time_job                                         0
normalized_job_code                                    3947
country_code                                              1
rural                                                     1
age                                                       1
gender                                                    1
dem_has_children                                          1
age_group                                                 1
question_bbi_2016wave4_basicincome_awareness              1
question_bbi_2016wave4_basicincome_vote                   1
question_bbi_2016wave4_basicincome_effect                 1
question_bbi_2016wave4_basicincome_argumentsfor           1
question_bbi_2016wave4_basicincome_argumentsagainst       1
dtype: int64

DATAFRAME COLUMNS TYPE:
uuid                                                   object
dem_education_level                                    object
dem_full_time_job                                      object
normalized_job_code                                    object
country_code                                           object
rural                                                  object
age                                                    object
gender                                                 object
dem_has_children                                       object
age_group                                              object
question_bbi_2016wave4_basicincome_awareness           object
question_bbi_2016wave4_basicincome_vote                object
question_bbi_2016wave4_basicincome_effect              object
question_bbi_2016wave4_basicincome_argumentsfor        object
question_bbi_2016wave4_basicincome_argumentsagainst    object
dtype: object

In [30]:
storage ='../data/raw/raw_data_compile.csv'
total = raw_data.to_csv(storage, index='\t')

In [9]:
df = pd.read_csv('../data/raw/raw_data_compile.csv')

In [10]:
df.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code,country_code,rural,age,gender,dem_has_children,age_group,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,car,no,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,AT,urban,57 years old,male,yES,40_65,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,NaN,no,NaN,AT,city,32 years old,male,nO,26_39,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,AT,Country,45 years old,Male,YES,40_65,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,AT,city,41 years old,Fem,yES,40_65,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...

In [11]:
poll_info = pd.read_sql_query('SELECT * FROM poll_info', engine)
poll_info

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
...,...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,I understand it fully,I would probably vote for it,‰Û_ spend more time with my family,It reduces bureaucracy and administrative expe...,It is impossible to finance
9645,39f989f0-db52-0133-8482-0a81e8b09a82,I have never heard of it,I would probably vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | On...
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ spend more time with my family,It reduces anxiety about financing basic needs,None of the above
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,Foreigners might come to my country and take a...
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,I understand it fully,I would vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | It...

In [12]:
print('DATAFRAME SHAPE \n - rows: {} \n - columns: {}'.format(poll_info.shape[0],poll_info.shape[1]),'\n')
print('DATAFRAME NULLS COUNT: \n{}'.format(poll_info.isnull().sum()),'\n')
print('DATAFRAME COLUMNS TYPE: \n{}'.format(poll_info.dtypes,'\n'))

DATAFRAME SHAPE
 - rows: 9649
 - columns: 6

DATAFRAME NULLS COUNT:
uuid                                                   0
question_bbi_2016wave4_basicincome_awareness           0
question_bbi_2016wave4_basicincome_vote                0
question_bbi_2016wave4_basicincome_effect              0
question_bbi_2016wave4_basicincome_argumentsfor        0
question_bbi_2016wave4_basicincome_argumentsagainst    0
dtype: int64

DATAFRAME COLUMNS TYPE:
uuid                                                   object
question_bbi_2016wave4_basicincome_awareness           object
question_bbi_2016wave4_basicincome_vote                object
question_bbi_2016wave4_basicincome_effect              object
question_bbi_2016wave4_basicincome_argumentsfor        object
question_bbi_2016wave4_basicincome_argumentsagainst    object
dtype: object

In [38]:
personal_info = pd.read_sql_query('SELECT * FROM personal_info', engine)
personal_info

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65
...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,37 years old,FeMale,nO,26_39
9645,39f989f0-db52-0133-8482-0a81e8b09a82,53 years old,Male,yES,40_65
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,1992,male,NO,juvenile
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,47 years old,male,yES,40_65
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,51 years old,FeMale,YES,40_65

In [14]:
print('DATAFRAME SHAPE \n - rows: {} \n - columns: {}'.format(personal_info.shape[0],personal_info.shape[1]),'\n')
print('DATAFRAME NULLS COUNT: \n{}'.format(personal_info.isnull().sum()),'\n')
print('DATAFRAME COLUMNS TYPE: \n{}'.format(personal_info.dtypes,'\n'))

DATAFRAME SHAPE
 - rows: 9649
 - columns: 5

DATAFRAME NULLS COUNT:
uuid                0
age                 0
gender              0
dem_has_children    0
age_group           0
dtype: int64

DATAFRAME COLUMNS TYPE:
uuid                object
age                 object
gender              object
dem_has_children    object
age_group           object
dtype: object

In [15]:
country_info = pd.read_sql_query('SELECT * FROM country_info', engine)
country_info

                                      uuid country_code        rural
0     f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1     54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2     83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3     15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4     24954a70-db98-0133-4a64-0a81e8b09a82           AT         city
...                                    ...          ...          ...
9644  7d1ac020-dcb4-0133-817a-0a81e8b09a82           SK        urban
9645  39f989f0-db52-0133-8482-0a81e8b09a82           SK        urban
9646  70ce4a90-d965-0133-f5e4-0a81e8b09a82           SK    Non-Rural
9647  2896e440-db3c-0133-5b67-0a81e8b09a82           SK         city
9648  06217ba0-dd56-0133-edda-0a81e8b09a82           SK         city

[9649 rows x 3 columns]

In [16]:
print('DATAFRAME SHAPE \n - rows: {} \n - columns: {}'.format(country_info.shape[0],country_info.shape[1]),'\n')
print('DATAFRAME NULLS COUNT: \n{}'.format(country_info.isnull().sum()),'\n')
print('DATAFRAME COLUMNS TYPE: \n{}'.format(country_info.dtypes,'\n'))

DATAFRAME SHAPE
 - rows: 9649
 - columns: 3

DATAFRAME NULLS COUNT:
uuid            0
country_code    0
rural           0
dtype: int64

DATAFRAME COLUMNS TYPE:
uuid            object
country_code    object
rural           object
dtype: object

In [17]:
career_info = pd.read_sql_query('SELECT * FROM career_info', engine)
career_info

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,car,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f
...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,high,yes,847165cfda6b1dc82ae22b967da8af2f
9645,39f989f0-db52-0133-8482-0a81e8b09a82,high,yes,a4d5b8b38f9513825d0d94a981ebe962
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,low,no,None
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,low,yes,775190277a849cba701b306a7b374c0a
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,high,yes,8a7a3f1bce0958ae9f090683e5a925b7

In [18]:
print('DATAFRAME SHAPE \n - rows: {} \n - columns: {}'.format(career_info.shape[0],career_info.shape[1]),'\n')
print('DATAFRAME NULLS COUNT: \n{}'.format(career_info.isnull().sum()),'\n')
print('DATAFRAME COLUMNS TYPE: \n{}'.format(career_info.dtypes,'\n'))

DATAFRAME SHAPE
 - rows: 9649
 - columns: 4

DATAFRAME NULLS COUNT:
uuid                      0
dem_education_level     663
dem_full_time_job         0
normalized_job_code    3947
dtype: int64

DATAFRAME COLUMNS TYPE:
uuid                   object
dem_education_level    object
dem_full_time_job      object
normalized_job_code    object
dtype: object

In [8]:
jobs = raw_data['normalized_job_code'].unique()

In [9]:
len(jobs)

157

In [19]:
total = pd.read_sql_query('SELECT * FROM poll_info join career_info on career_info.uuid = poll_info.uuid join country_info on country_info.uuid = poll_info.uuid join personal_info on personal_info.uuid = poll_info.uuid', engine)
total.head()

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst,uuid,dem_education_level,dem_full_time_job,normalized_job_code,uuid,country_code,rural,uuid,age,gender,dem_has_children,age_group
0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,urban,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
1,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None,83127080-da3d-0133-c74f-0a81e8b09a82,AT,city,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
2,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,Country,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
3,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,24954a70-db98-0133-4a64-0a81e8b09a82,AT,city,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65
4,28583060-dbe2-0133-ff9c-0a81e8b09a82,I understand it fully,I would vote against it,A basic income would not affect my work choices,It encourages financial independence and self-...,It is impossible to finance | It might encoura...,28583060-dbe2-0133-ff9c-0a81e8b09a82,high,yes,27af8700f5577cec835acee2cb90a2ff,28583060-dbe2-0133-ff9c-0a81e8b09a82,AT,countryside,28583060-dbe2-0133-ff9c-0a81e8b09a82,1990,FeMale,NO,26_39

In [20]:
print('DATAFRAME SHAPE \n - rows: {} \n - columns: {}'.format(total.shape[0],total.shape[1]),'\n')
print('DATAFRAME NULLS COUNT: \n{}'.format(total.isnull().sum()),'\n')
print('DATAFRAME COLUMNS TYPE: \n{}'.format(total.dtypes,'\n'))

DATAFRAME SHAPE
 - rows: 9648
 - columns: 18

DATAFRAME NULLS COUNT:
uuid                                                      0
question_bbi_2016wave4_basicincome_awareness              0
question_bbi_2016wave4_basicincome_vote                   0
question_bbi_2016wave4_basicincome_effect                 0
question_bbi_2016wave4_basicincome_argumentsfor           0
question_bbi_2016wave4_basicincome_argumentsagainst       0
uuid                                                      0
dem_education_level                                     663
dem_full_time_job                                         0
normalized_job_code                                    3946
uuid                                                      0
country_code                                              0
rural                                                     0
uuid                                                      0
age                                                       0
gender                                                    0
dem_has_children                                          0
age_group                                                 0
dtype: int64

DATAFRAME COLUMNS TYPE:
uuid                                                   object
question_bbi_2016wave4_basicincome_awareness           object
question_bbi_2016wave4_basicincome_vote                object
question_bbi_2016wave4_basicincome_effect              object
question_bbi_2016wave4_basicincome_argumentsfor        object
question_bbi_2016wave4_basicincome_argumentsagainst    object
uuid                                                   object
dem_education_level                                    object
dem_full_time_job                                      object
normalized_job_code                                    object
uuid                                                   object
country_code                                           object
rural                                                  object
uuid                                                   object
age                                                    object
gender                                                 object
dem_has_children                                       object
age_group                                              object
dtype: object

In [16]:
storage ='raw_data_compile.csv'
total.to_csv(storage, index='\t')

### API adquisition

In [10]:
jobs

array([None, '861a9b9151e11362eb3c77ca914172d0',
       '049a3f3a2b5f85cb2971ba77ad66e10c',
       'f4b2fb1aa40f661488e2782b6d57ad2f',
       '27af8700f5577cec835acee2cb90a2ff',
       'c1b670eba9ccb65e7c99f7da116d5b9c',
       'd71c4164c99a5f9bca773e755a72f40f',
       '2ee80cf30e2483dfe0947adc0428f8c5',
       '897ef18a9321616495831a4b4b0c1bb2',
       'a003702c0cea282e17967772dd83de5e',
       '04c82eae29e1c4a30eac0710b74ab276',
       'fcaf4aac737e53ad24b9f32f08b8740f',
       '3833bd699e7afe4665b595f282da0387',
       '19e384e977796c25780d8c28b12089c4',
       '474b962c13632a04e42a546be4f11dbb',
       'dac2e921c1f887d9efc4c06fa33c1397',
       '996da29c84f5eed00da40c230f4c4078',
       'cc2b26cc436bea36bda3bdd7367c411a',
       '25fe195cbf915c0824fa6c44e6d0008c',
       '76385cb24e831b3364279b9de5641d8f',
       '16b67d7f57698455aefbc1ae1b358b50',
       'b24ece3300d2f8ab34f9553e531183d6',
       '5db2c8d6539f983e1ca3d7c5b939e190',
       '36675c937946c8a4fc5de7d0b4c850de',
       '847165cfda6b1dc82ae22b967da8af2f',
       '2ca138b991c50dc6696238e5ad800142',
       '775190277a849cba701b306a7b374c0a',
       '022d0e3a40aa3e29bca6851542b27842',
       '375017ea3a1a97f5ea676def873bb25b',
       '1dd2fdc8a3981f2a1d8f0ca173952bb8',
       'e605336f5a43949cb6b18054fd1937f1',
       '800b621aab5dac18f4caef621fa43a49',
       'd06dfb43c95b585a89ae556c9221b573',
       'a12a16280e22220f9354333f6fe1b22a',
       '477b53ef09d37f098d5ed74f47fcbaec',
       'e2f68bf748aea2c7d2254550c0c92b23',
       '45033f83b6e0309eca9bcd76917f15d0',
       '141ddda0f613da65a280521247de0e9f',
       '3ddea1b52e520996e4ec9fb70dc8b86b',
       '6408c0d7c7faa4ced47fbc8474698126',
       '07b7555fa790debaf5b04d1409ad5f11',
       'a4d5b8b38f9513825d0d94a981ebe962',
       '5e93fd1a58c8a67b295f69d87d1a940d',
       '122f24bc911a79c26ca66210557dda07',
       '76b0ba6af40991629e20dff36edd02a5',
       '970eb38c7b3eb080466052ea994af189',
       'cf2d4db3c258faa2499bdeeeed6721a5',
       '90c5430dbc810aec8695af2f1f4c42e8',
       '7bb15eefb19ed09c59349baad7e8469e',
       'ec3d88b2fd083b870b8c5a603898ed39',
       '1f8576bdffa64f492405d02b842c41a6',
       'edc64316da9707432443c7a4461abe6c',
       '6cf4d336112984368f83181ac5ffe948',
       'd4624ed8068d24948e18303212593cd6',
       '1a281bf4bd1fe9b2a6e464e508bea167',
       '2f704538f6c9d6459a97314be98124e2',
       '3161063d378eecc4581c5cdee46a2a6c',
       '781f5d3a80812531fdc81125a527a626',
       '38a15ceadcdd6d4db16a88fa1a72b083',
       'e55556364d2096578fd153e9800e826f',
       'd24ffac92c24fb0e7bd1abc5fc3b6254',
       'ccd7528fb38f16077360c5b67c9700c4',
       'f6fbd9dea1fa8f899683ade8e7d87d60',
       '0de6170ccbed08e62b2e5862d5846a43',
       '499f9d9b6722342608656559b15abd90',
       '8a7a3f1bce0958ae9f090683e5a925b7',
       '7acaed29536648e45ea2b82d45047fcf',
       '02e4c028f64f176de2f54bbc2f5403ce',
       '569da68cdcac43a3b4a0126ea9170570',
       'ced804d972b03cca6d523ec8925a7943',
       '41b2978a2c07c5f477e60f26372d6c85',
       'd9e964a222fdd9527319ad88adbfaa2e',
       'ac47656fd51c2cd8037057262c910dc4',
       'e49986dae76619a3941d280ee14d38ae',
       'f842344417ed2fc226d9cc00f9562458',
       '096536ec43ce2a7de73031b271a1c132',
       'a33662485eb4ad97096183db945308f4',
       '4f75f97ac5b5f00f9420074d501f0803',
       'f36c6ada3a808453a0bf241c74a4e994',
       '41ba88cfd476ee8d5e3d9f7cea62f051',
       '894ca61c22718617c7e2404f582153da',
       '34d80517fe3bc143f9fc850386b8ffd7',
       'e7b3e1c6a32c7247cd4857e4c3574165',
       '36ac256201657eeaa67ee95aaae3cd54',
       'bc6dcc49557388a9f53d6e642e73d7a2',
       '00bff17fca67555d8d86e8ead86dcd70',
       'b42566382f2d3deeca56d3667004fc9e',
       '7932d4705d002b47789c11edfaed685e',
       'aee597cd78f235c9db9d3ca987c7c846',
       '1c37a6e2bf157c0eff4665c57c52602d',
       '46b09f5f86f1ed46a8cb8e14d41418c7',
       'a2a9fbe67b4aa2b551ba0f3adac90a99',
       '77d124811ae6887bd4ff42b0e2b49116',
       'f05d2014d4a9adaab50fa1e0ca6f6c8c',
       'ac2588d5d7676a49bdcd038e4a0a0ec5',
       '2173ff3afd8d28192f7cf119af201940',
       'f5bc91b67dc30ad204158092116c4ed2',
       '433df1b945d32f17d9e61cf60a9bd06e',
       '1295a187473fd2f53427769fc7a4c02e',
       '004431b0c1ce29ff6145307fa23f3f98',
       '8fd068c8d9be73abfa678856177b6c40',
       'c34f03aa0a9c6edbe8ec50f4fa3687a8',
       '7aecc34a90868aac810bf3693b11534e',
       '086f0063610283d1c23c44bca4ef92c0',
       '16b49a63ac3fcb90356c30187110ed94',
       '437e4414c78611a270a5cedb4b4c0eed',
       '679fb7003e0aedc14891fcd15dd846c5',
       '7a37ddb38441873334fd8ff07c17ad22',
       '58eaf730050d2e23c7361fbb782e30a2',
       'd0abc47e83e7d85921e113f85175547a',
       '73d251075a710326ae436d9819246377',
       '5e2bfe1fb8451158ff488c673535980c',
       'ac9f868b5c3e7cb3f31bcead5dadeb71',
       'f670246beda8187fbe875401e7bc4ba6',
       '0044971fda4a261b6049a63817913e95',
       'b36bc5f02fd641a126df999bcefa2777',
       '067c85859a63aa6f1c8c936904124dd6',
       '491d82be40d8395e347f9584124bccdd',
       '7028f15ad274cb4d9505101b9c1306b1',
       'fd69391dc29c83d5ad744daa57de0175',
       '3def30a9bc4356164176ba909f40bab8',
       '132aa9e82c5d4c8a395342d0a6e22c5c',
       '07b2ace822aff5d35dcf5ea264ef3b59',
       'f8984e50675cf61e5ac1ea8f661e0ab2',
       'd329d187dafb7546061ec7fbf137a2b4',
       'd63e35f948115e0c328a49db7bdb6e59',
       'bf7f43295d45cdced048c8126f977b6b',
       '6bf4290b983d58ce153af610008846c9',
       'f1fc61f279e3ad14863e582ca6fdc473',
       '31bf3181813e21ffdfd76b5881fab066',
       '04b0eaf624b2deb45ccd62cf6ec7c7bc',
       '2616d64becb4f2c478dd42f501bbfbff',
       '776bf47111206d31ccf835650e1054cc',
       'c3b5ebd7b88c20786f11e87846c7d6ae',
       'dfea9e8bc3c565ff9e64d4288b1c423d',
       'a50d1f4be063829950e6ddb02c91379f',
       'af6630abd24c19f77cfba94aa4e3b7e1',
       '901740e84d1a4760e440b039adac9df2',
       'f2ecf36d7eb0a4225974fc6c4f48cfcb',
       'f1fb62e4c97f4f5cd5001877cb94379e',
       'b9a57264eaada670703db113483ddfc3',
       '65b92572bca68ff9c49c930749fa348c',
       '59dab7d0a3ee97d939aa8b1a8deec857',
       'afea0e0169a98ee264db2ddb1c6e6a34',
       '0facaffe51cc1998a5fbdbe5fd18fd98',
       'ccf2c4daae069f054cada4c911819a17',
       '1426c924e1b6b162f6bfdd1906d98d0e',
       'eb3d789747d52df803ce63fe37bf53e9',
       'bdf4dcd92089bc17345de83f4d06090f',
       '5285758deb04c98f58cbae2747195f33',
       '04c27c76b463a917800549cf88a59961',
       '631bc3a12ed11340fc94ebfffa8f5f4e',
       'b0fa6ede410f50b82ab74f5a705fe699',
       '559a21f836c93876f31b60e6d10656a7',
       'c1fb1a01b78373ac2153c66fa08d16dc',
       '05bb9a333a66d6eb151e253623efe1c0',
       '4cee16550636e292b8d136486fce943b'], dtype=object)

In [11]:
job_dict = []
for id in jobs:
    response = requests.get(f'http://api.dataatwork.org/v1/jobs/{id}')
    job_dict.append(response.json())

In [13]:
job_dict

[{'error': {'code': 404, 'message': 'Cannot find job with id None'}},
 {'uuid': '861a9b9151e11362eb3c77ca914172d0',
  'title': 'Automatic Data Processing Planner',
  'normalized_job_title': 'automatic data processing planner',
  'parent_uuid': '0148f61d4227497728ce33490843d056'},
 {'uuid': '049a3f3a2b5f85cb2971ba77ad66e10c',
  'title': 'Data Coordinator',
  'normalized_job_title': 'data coordinator',
  'parent_uuid': '0b9dd32a367f4562ec77b993053d1910'},
 {'uuid': 'f4b2fb1aa40f661488e2782b6d57ad2f',
  'title': 'Database Developer',
  'normalized_job_title': 'database developer',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '27af8700f5577cec835acee2cb90a2ff',
  'title': 'Data Entry Specialist',
  'normalized_job_title': 'data entry specialist',
  'parent_uuid': 'bf88358c56bb6cbe7eabec38ae333d19'},
 {'uuid': 'c1b670eba9ccb65e7c99f7da116d5b9c',
  'title': 'Database Architect',
  'normalized_job_title': 'database architect',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': 'd71c4164c99a5f9bca773e755a72f40f',
  'title': 'Geographic Information Systems Database Administrator (GIS Database Administrator)',
  'normalized_job_title': 'geographic information systems database administrator gis database administrator',
  'parent_uuid': 'bab6b228ad976cd2624acbcfccb8ad9b'},
 {'uuid': '2ee80cf30e2483dfe0947adc0428f8c5',
  'title': 'Crime Data Specialist',
  'normalized_job_title': 'crime data specialist',
  'parent_uuid': '325e2251e20170928426473156bd3c48'},
 {'uuid': '897ef18a9321616495831a4b4b0c1bb2',
  'title': 'Data Communications Software Consultant',
  'normalized_job_title': 'data communications software consultant',
  'parent_uuid': '9f07202082ce5945f125f3472a753789'},
 {'uuid': 'a003702c0cea282e17967772dd83de5e',
  'title': 'Data Security Analyst',
  'normalized_job_title': 'data security analyst',
  'parent_uuid': '7ef30a5b2e0ec04db4ad4d5b1d354c32'},
 {'uuid': '04c82eae29e1c4a30eac0710b74ab276',
  'title': 'Database Marketing Analyst',
  'normalized_job_title': 'database marketing analyst',
  'parent_uuid': '05d507b5052f3f105eb5602c10723103'},
 {'uuid': 'fcaf4aac737e53ad24b9f32f08b8740f',
  'title': 'Computer or Data Processing Systems Consultant',
  'normalized_job_title': 'computer or data processing systems consultant',
  'parent_uuid': '0148f61d4227497728ce33490843d056'},
 {'uuid': '3833bd699e7afe4665b595f282da0387',
  'title': 'Database Development and Administration Project Manager',
  'normalized_job_title': 'database development and administration project manager',
  'parent_uuid': 'bb4e5066e69e4228172b4850d2a920f4'},
 {'uuid': '19e384e977796c25780d8c28b12089c4',
  'title': 'Naval Tactical Data System--Combat Information Center Watch Officer, General',
  'normalized_job_title': 'naval tactical data systemcombat information center watch officer general',
  'parent_uuid': 'e7fdd7f57854ea7d06958a8b65ce0148'},
 {'uuid': '474b962c13632a04e42a546be4f11dbb',
  'title': 'Data Coder Operator',
  'normalized_job_title': 'data coder operator',
  'parent_uuid': 'bf88358c56bb6cbe7eabec38ae333d19'},
 {'uuid': 'dac2e921c1f887d9efc4c06fa33c1397',
  'title': 'Automatic Data Processing Customer Liaison (ADP Customer Liaison)',
  'normalized_job_title': 'automatic data processing customer liaison adp customer liaison',
  'parent_uuid': '9c4fa3af527c538e345640a28f2d0586'},
 {'uuid': '996da29c84f5eed00da40c230f4c4078',
  'title': 'Data Entry Representative',
  'normalized_job_title': 'data entry representative',
  'parent_uuid': 'bf88358c56bb6cbe7eabec38ae333d19'},
 {'uuid': 'cc2b26cc436bea36bda3bdd7367c411a',
  'title': 'Data Processing Auditor',
  'normalized_job_title': 'data processing auditor',
  'parent_uuid': '30ab203f437e940183274ac15379aa99'},
 {'uuid': '25fe195cbf915c0824fa6c44e6d0008c',
  'title': 'Maintenance Data Analyst',
  'normalized_job_title': 'maintenance data analyst',
  'parent_uuid': '9b44dbc6767274d8b3a820e133803d00'},
 {'uuid': '76385cb24e831b3364279b9de5641d8f',
  'title': 'Automatic Data Processing Systems Security Specialist (ADP Systems Security)',
  'normalized_job_title': 'automatic data processing systems security specialist adp systems security',
  'parent_uuid': '7ef30a5b2e0ec04db4ad4d5b1d354c32'},
 {'uuid': '16b67d7f57698455aefbc1ae1b358b50',
  'title': 'Database Engineer',
  'normalized_job_title': 'database engineer',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': 'b24ece3300d2f8ab34f9553e531183d6',
  'title': 'Data Processing Systems Project Planner',
  'normalized_job_title': 'data processing systems project planner',
  'parent_uuid': '0148f61d4227497728ce33490843d056'},
 {'uuid': '5db2c8d6539f983e1ca3d7c5b939e190',
  'title': 'Database Administration Associate',
  'normalized_job_title': 'database administration associate',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '36675c937946c8a4fc5de7d0b4c850de',
  'title': 'Data Warehousing Engineer',
  'normalized_job_title': 'data warehousing engineer',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': '847165cfda6b1dc82ae22b967da8af2f',
  'title': 'Data Warehouse Developer',
  'normalized_job_title': 'data warehouse developer',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': '2ca138b991c50dc6696238e5ad800142',
  'title': 'Database Software Technician',
  'normalized_job_title': 'database software technician',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '775190277a849cba701b306a7b374c0a',
  'title': 'Data Officer',
  'normalized_job_title': 'data officer',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': '022d0e3a40aa3e29bca6851542b27842',
  'title': 'Data Keyer',
  'normalized_job_title': 'data keyer',
  'parent_uuid': 'bf88358c56bb6cbe7eabec38ae333d19'},
 {'uuid': '375017ea3a1a97f5ea676def873bb25b',
  'title': 'Geographic Information Systems Data Specialist (GIS Data Specialist)',
  'normalized_job_title': 'geographic information systems data specialist gis data specialist',
  'parent_uuid': 'bab6b228ad976cd2624acbcfccb8ad9b'},
 {'uuid': '1dd2fdc8a3981f2a1d8f0ca173952bb8',
  'title': 'Database Administration Manager',
  'normalized_job_title': 'database administration manager',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'e605336f5a43949cb6b18054fd1937f1',
  'title': 'Database Security Expert',
  'normalized_job_title': 'database security expert',
  'parent_uuid': '7ef30a5b2e0ec04db4ad4d5b1d354c32'},
 {'uuid': '800b621aab5dac18f4caef621fa43a49',
  'title': 'Data Systems Manager',
  'normalized_job_title': 'data systems manager',
  'parent_uuid': 'bb4e5066e69e4228172b4850d2a920f4'},
 {'uuid': 'd06dfb43c95b585a89ae556c9221b573',
  'title': 'Data Warehousing Manager',
  'normalized_job_title': 'data warehousing manager',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': 'a12a16280e22220f9354333f6fe1b22a',
  'title': 'Geographic Information Systems Data Administrator (GIS Data Administrator)',
  'normalized_job_title': 'geographic information systems data administrator gis data administrator',
  'parent_uuid': 'bab6b228ad976cd2624acbcfccb8ad9b'},
 {'uuid': '477b53ef09d37f098d5ed74f47fcbaec',
  'title': 'Data Base Design Analyst',
  'normalized_job_title': 'data base design analyst',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': 'e2f68bf748aea2c7d2254550c0c92b23',
  'title': 'Director of Data Operations',
  'normalized_job_title': 'director of data operations',
  'parent_uuid': 'bb4e5066e69e4228172b4850d2a920f4'},
 {'uuid': '45033f83b6e0309eca9bcd76917f15d0',
  'title': 'Database Modeler',
  'normalized_job_title': 'database modeler',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': '141ddda0f613da65a280521247de0e9f',
  'title': 'Data Administrator',
  'normalized_job_title': 'data administrator',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': '3ddea1b52e520996e4ec9fb70dc8b86b',
  'title': 'Field Artillery Automated Tactical Data System Specialist',
  'normalized_job_title': 'field artillery automated tactical data system specialist',
  'parent_uuid': '89d82eabfbe83755f4435bc7fcc8d6af'},
 {'uuid': '6408c0d7c7faa4ced47fbc8474698126',
  'title': 'Database Design Analyst',
  'normalized_job_title': 'database design analyst',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': '07b7555fa790debaf5b04d1409ad5f11',
  'title': 'Database Security Administrator',
  'normalized_job_title': 'database security administrator',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'a4d5b8b38f9513825d0d94a981ebe962',
  'title': 'Database Manager',
  'normalized_job_title': 'database manager',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '5e93fd1a58c8a67b295f69d87d1a940d',
  'title': 'Geographic Information Systems Data Manager (GIS Data Manager)',
  'normalized_job_title': 'geographic information systems data manager gis data manager',
  'parent_uuid': 'bab6b228ad976cd2624acbcfccb8ad9b'},
 {'uuid': '122f24bc911a79c26ca66210557dda07',
  'title': 'Clinical Data Specialist',
  'normalized_job_title': 'clinical data specialist',
  'parent_uuid': 'db06efbaa9cb31d42e02c047ffb0a15a'},
 {'uuid': '76b0ba6af40991629e20dff36edd02a5',
  'title': 'Data Management Information Technology Specialist',
  'normalized_job_title': 'data management information technology specialist',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '970eb38c7b3eb080466052ea994af189',
  'title': 'Internet Database Specialist',
  'normalized_job_title': 'internet database specialist',
  'parent_uuid': 'a5773315d55245d7a3271314a564c32f'},
 {'uuid': 'cf2d4db3c258faa2499bdeeeed6721a5',
  'title': 'GPS Field Data Collector (Global Positioning System Field Data Collector)',
  'normalized_job_title': 'gps field data collector global positioning system field data collector',
  'parent_uuid': '05622c1c6c44e774821121ef8c93fef9'},
 {'uuid': '90c5430dbc810aec8695af2f1f4c42e8',
  'title': 'Electronic Data Processing Auditor (EDP Auditor)',
  'normalized_job_title': 'electronic data processing auditor edp auditor',
  'parent_uuid': '9c4fa3af527c538e345640a28f2d0586'},
 {'uuid': '7bb15eefb19ed09c59349baad7e8469e',
  'title': 'Database Coordinator',
  'normalized_job_title': 'database coordinator',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'ec3d88b2fd083b870b8c5a603898ed39',
  'title': 'Databases Computer Consultant',
  'normalized_job_title': 'databases computer consultant',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '1f8576bdffa64f492405d02b842c41a6',
  'title': 'Data Management Associate',
  'normalized_job_title': 'data management associate',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'edc64316da9707432443c7a4461abe6c',
  'title': 'Data Security Administrator',
  'normalized_job_title': 'data security administrator',
  'parent_uuid': '7ef30a5b2e0ec04db4ad4d5b1d354c32'},
 {'uuid': '6cf4d336112984368f83181ac5ffe948',
  'title': 'Health Data Analyst',
  'normalized_job_title': 'health data analyst',
  'parent_uuid': 'db06efbaa9cb31d42e02c047ffb0a15a'},
 {'uuid': 'd4624ed8068d24948e18303212593cd6',
  'title': 'Data Architect',
  'normalized_job_title': 'data architect',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': '1a281bf4bd1fe9b2a6e464e508bea167',
  'title': 'Data Storage Specialist',
  'normalized_job_title': 'data storage specialist',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': '2f704538f6c9d6459a97314be98124e2',
  'title': 'Data Collector',
  'normalized_job_title': 'data collector',
  'parent_uuid': 'b9395a0c9f252a057e9b153c5c7f4bdd'},
 {'uuid': '3161063d378eecc4581c5cdee46a2a6c',
  'title': 'Head of Information Systems and Data Processing',
  'normalized_job_title': 'head of information systems and data processing',
  'parent_uuid': 'bb4e5066e69e4228172b4850d2a920f4'},
 {'uuid': '781f5d3a80812531fdc81125a527a626',
  'title': 'Data Warehouse Specialist',
  'normalized_job_title': 'data warehouse specialist',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': '38a15ceadcdd6d4db16a88fa1a72b083',
  'title': 'Data Warehouse Analyst',
  'normalized_job_title': 'data warehouse analyst',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': 'e55556364d2096578fd153e9800e826f',
  'title': 'Database Consultant',
  'normalized_job_title': 'database consultant',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': 'd24ffac92c24fb0e7bd1abc5fc3b6254',
  'title': 'Data Manager',
  'normalized_job_title': 'data manager',
  'parent_uuid': '430aaf9809812ccc822ef42674765d0e'},
 {'uuid': 'ccd7528fb38f16077360c5b67c9700c4',
  'title': 'Data Communications Analyst',
  'normalized_job_title': 'data communications analyst',
  'parent_uuid': '9f07202082ce5945f125f3472a753789'},
 {'uuid': 'f6fbd9dea1fa8f899683ade8e7d87d60',
  'title': 'Data Entry Associate',
  'normalized_job_title': 'data entry associate',
  'parent_uuid': 'bf88358c56bb6cbe7eabec38ae333d19'},
 {'uuid': '0de6170ccbed08e62b2e5862d5846a43',
  'title': 'Database Tester',
  'normalized_job_title': 'database tester',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '499f9d9b6722342608656559b15abd90',
  'title': 'Clinical Data Associate',
  'normalized_job_title': 'clinical data associate',
  'parent_uuid': '0b9dd32a367f4562ec77b993053d1910'},
 {'uuid': '8a7a3f1bce0958ae9f090683e5a925b7',
  'title': 'Data Scientist',
  'normalized_job_title': 'data scientist',
  'parent_uuid': 'c694b1fbf0bd19efa780497ccb70638e'},
 {'uuid': '7acaed29536648e45ea2b82d45047fcf',
  'title': 'Medical Data Analyst',
  'normalized_job_title': 'medical data analyst',
  'parent_uuid': 'db06efbaa9cb31d42e02c047ffb0a15a'},
 {'uuid': '02e4c028f64f176de2f54bbc2f5403ce',
  'title': 'Marketing Database Analyst',
  'normalized_job_title': 'marketing database analyst',
  'parent_uuid': '9656fa2dc39e9643c00a45858e0117d0'},
 {'uuid': '569da68cdcac43a3b4a0126ea9170570',
  'title': 'Database Designer',
  'normalized_job_title': 'database designer',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': 'ced804d972b03cca6d523ec8925a7943',
  'title': 'Oracle Database Administrator (Oracle DBA)',
  'normalized_job_title': 'oracle database administrator oracle dba',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '41b2978a2c07c5f477e60f26372d6c85',
  'title': 'Database Management System Specialist (DBMS Specialist)',
  'normalized_job_title': 'database management system specialist dbms specialist',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'd9e964a222fdd9527319ad88adbfaa2e',
  'title': 'SQL Database Administrator',
  'normalized_job_title': 'sql database administrator',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'ac47656fd51c2cd8037057262c910dc4',
  'title': 'Data Processing Manager',
  'normalized_job_title': 'data processing manager',
  'parent_uuid': 'bb4e5066e69e4228172b4850d2a920f4'},
 {'uuid': 'e49986dae76619a3941d280ee14d38ae',
  'title': 'Data Miner',
  'normalized_job_title': 'data miner',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'f842344417ed2fc226d9cc00f9562458',
  'title': 'Log Data Technician',
  'normalized_job_title': 'log data technician',
  'parent_uuid': '0581dd6e7d2b00f3d449837e60ab76a0'},
 {'uuid': '096536ec43ce2a7de73031b271a1c132',
  'title': 'Flight Data Technician',
  'normalized_job_title': 'flight data technician',
  'parent_uuid': '351a52f8a687142e32acd0b6c331e61b'},
 {'uuid': 'a33662485eb4ad97096183db945308f4',
  'title': 'Automatic Data Processing Planner (ADP Planner)',
  'normalized_job_title': 'automatic data processing planner adp planner',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '4f75f97ac5b5f00f9420074d501f0803',
  'title': 'Data Capture Specialist',
  'normalized_job_title': 'data capture specialist',
  'parent_uuid': 'bf88358c56bb6cbe7eabec38ae333d19'},
 {'uuid': 'f36c6ada3a808453a0bf241c74a4e994',
  'title': 'Reference Data Expert',
  'normalized_job_title': 'reference data expert',
  'parent_uuid': 'c80b795c61b66ce7d93000761d21632f'},
 {'uuid': '41ba88cfd476ee8d5e3d9f7cea62f051',
  'title': 'Data Recovery Planner',
  'normalized_job_title': 'data recovery planner',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '894ca61c22718617c7e2404f582153da',
  'title': 'Data Processing Consultant',
  'normalized_job_title': 'data processing consultant',
  'parent_uuid': '0148f61d4227497728ce33490843d056'},
 {'uuid': '34d80517fe3bc143f9fc850386b8ffd7',
  'title': 'Clinical Data Coordinator',
  'normalized_job_title': 'clinical data coordinator',
  'parent_uuid': '0b9dd32a367f4562ec77b993053d1910'},
 {'uuid': 'e7b3e1c6a32c7247cd4857e4c3574165',
  'title': 'Data Processing Systems Analyst',
  'normalized_job_title': 'data processing systems analyst',
  'parent_uuid': '0148f61d4227497728ce33490843d056'},
 {'uuid': '36ac256201657eeaa67ee95aaae3cd54',
  'title': 'Data Warehousing Specialist',
  'normalized_job_title': 'data warehousing specialist',
  'parent_uuid': '72ac7ec4ef0212a3aa54ed92abac8a92'},
 {'uuid': 'bc6dcc49557388a9f53d6e642e73d7a2',
  'title': 'Business Database Analyst',
  'normalized_job_title': 'business database analyst',
  'parent_uuid': '9656fa2dc39e9643c00a45858e0117d0'},
 {'uuid': '00bff17fca67555d8d86e8ead86dcd70',
  'title': 'Database Analyst',
  'normalized_job_title': 'database analyst',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'b42566382f2d3deeca56d3667004fc9e',
  'title': 'Data Center Manager',
  'normalized_job_title': 'data center manager',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': '7932d4705d002b47789c11edfaed685e',
  'title': 'Data Control Assistant',
  'normalized_job_title': 'data control assistant',
  'parent_uuid': '1b7a3048ca875e752dbe1ec6368e2e9a'},
 {'uuid': 'aee597cd78f235c9db9d3ca987c7c846',
  'title': 'Database Development Project Manager',
  'normalized_job_title': 'database development project manager',
  'parent_uuid': 'c9b22af74071153203bd588bd45340d9'},
 {'uuid': '1c37a6e2bf157c0eff4665c57c52602d',
  'title': 'SCADA Technician (Supervisory Control and Data Acquisition Technician)',
  'normalized_job_title': 'scada technician supervisory control and data acquisition technician',
  'parent_uuid': '5e618fbfb1206c29ad9b4c3e1d169ba5'},
 {'uuid': '46b09f5f86f1ed46a8cb8e14d41418c7',
  'title': 'Survey Data Technician',
  'normalized_job_title': 'survey data technician',
  'parent_uuid': '325e2251e20170928426473156bd3c48'},
 {'uuid': 'a2a9fbe67b4aa2b551ba0f3adac90a99',
  'title': 'Engineer, System Electronic Data Processing (Engineer, System EDP)',
  'normalized_job_title': 'engineer system electronic data processing engineer system edp',
  'parent_uuid': 'ad7f545d458070129f3ced2d13467813'},
 {'uuid': '77d124811ae6887bd4ff42b0e2b49116',
  'title': 'Data Warehouse Architect',
  'normalized_job_title': 'data warehouse architect',
  'parent_uuid': '596226d5f9ef63de41a852826d483d19'},
 {'uuid': 'f05d2014d4a9adaab50fa1e0ca6f6c8c',
  'title': 'Naval Tactical Data System--Combat Information Center Watch Officer, Carrier Controlled Approach Controller',
  'normalized_job_title': 'naval tactical data systemcombat information center watch officer carrier controlled approach controller',
  'parent_uuid': 'e7fdd7f57854ea7d06958a8b65ce0148'},
 {'uuid': 'ac2588d5d7676a49bdcd038e4a0a0ec5',
  'title': 'Data Compiler',
  'normalized_job_title': 'data compiler',
  'parent_uuid': '325e2251e20170928426473156bd3c48'},
 {'uuid': '2173ff3afd8d28192f7cf119af201940',
  'title': 'Data Modeling Specialist',
  'normalized_job_title': 'data modeling specialist',
  'parent_uuid': 'b90ca4df5690002377a7b0f1f3d40781'},
 {'uuid': 'f5bc91b67dc30ad204158092116c4ed2',
  'title': 'Clinical Data Manager',
  'normalized_job_title': 'clinical data manager',
  'parent_uuid': '0b9dd32a367f4562ec77b993053d1910'},
 {'uuid': '433df1b945d32f17d9e61cf60a9bd06e',
  'title': 'Data Abstractor',

In [14]:
api_df = pd.DataFrame(job_dict[1:])

In [15]:
api_df.head()

,uuid,title,normalized_job_title,parent_uuid
0,861a9b9151e11362eb3c77ca914172d0,Automatic Data Processing Planner,automatic data processing planner,0148f61d4227497728ce33490843d056
1,049a3f3a2b5f85cb2971ba77ad66e10c,Data Coordinator,data coordinator,0b9dd32a367f4562ec77b993053d1910
2,f4b2fb1aa40f661488e2782b6d57ad2f,Database Developer,database developer,b90ca4df5690002377a7b0f1f3d40781
3,27af8700f5577cec835acee2cb90a2ff,Data Entry Specialist,data entry specialist,bf88358c56bb6cbe7eabec38ae333d19
4,c1b670eba9ccb65e7c99f7da116d5b9c,Database Architect,database architect,596226d5f9ef63de41a852826d483d19

In [16]:
columns = ['uuid', 'title']

In [17]:
red_api_df = api_df[columns]

In [18]:
rename_api_df = red_api_df.rename(columns={'uuid': 'normalized_job_code',
                             'title': 'Job_Title'})

In [19]:
rename_api_df.head()

                normalized_job_code                          Job_Title
0  861a9b9151e11362eb3c77ca914172d0  Automatic Data Processing Planner
1  049a3f3a2b5f85cb2971ba77ad66e10c                   Data Coordinator
2  f4b2fb1aa40f661488e2782b6d57ad2f                 Database Developer
3  27af8700f5577cec835acee2cb90a2ff              Data Entry Specialist
4  c1b670eba9ccb65e7c99f7da116d5b9c                 Database Architect

In [20]:
df1 = rename_api_df.set_index('normalized_job_code')

In [21]:
df1.drop_duplicates(inplace=True)

In [22]:
df2 = raw_data.set_index('normalized_job_code')

In [26]:
finish = df1.join(df2,how='outer').reset_index()

In [27]:
print('DATAFRAME SHAPE \n - rows: {} \n - columns: {}'.format(finish.shape[0],total.shape[1]),'\n')
print('DATAFRAME NULLS COUNT: \n{}'.format(finish.isnull().sum()),'\n')
print('DATAFRAME COLUMNS TYPE: \n{}'.format(finish.dtypes,'\n'))

NameError: name 'total' is not defined

In [50]:
finish

,normalized_job_code,Job_Title,uuid,dem_education_level,dem_full_time_job,country_code,rural,age,gender,dem_has_children,age_group,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,004431b0c1ce29ff6145307fa23f3f98,Data Reduction Technician,5f46d700-d99a-0133-1bb9-0a81e8b09a82,high,yes,BG,Non-Rural,35,male,yES,26_39,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs...,It is impossible to finance | Foreigners might...
1,004431b0c1ce29ff6145307fa23f3f98,Data Reduction Technician,07ba8a00-db5c-0133-ec13-0a81e8b09a82,medium,yes,DE,city,1987,Male,nO,26_39,I know something about it,I would not vote,‰Û_ spend more time with my family,None of the above,None of the above
2,004431b0c1ce29ff6145307fa23f3f98,Data Reduction Technician,d6cacbf0-dad8-0133-3860-0a81e8b09a82,high,yes,DE,rural,58,Male,yES,40_65,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It is against the principle of linking merit a...
3,004431b0c1ce29ff6145307fa23f3f98,Data Reduction Technician,24a73eb0-da67-0133-adc6-0a81e8b09a82,medium,yes,ES,urban,55,female,nO,40_65,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs...,It is impossible to finance
4,004431b0c1ce29ff6145307fa23f3f98,Data Reduction Technician,5d9258b0-d9b1-0133-0176-0a81e8b09a82,high,yes,ES,Non-Rural,38,female,yES,26_39,I understand it fully,I would vote against it,‰Û_ work less,It reduces anxiety about financing basic needs...,It is against the principle of linking merit a...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9644,None,NaN,b98527f0-d8da-0133-96c4-0a81e8b09a82,high,no,SK,countryside,1997,Male,nO,juvenile,I have never heard of it,I would not vote,‰Û_ do more volunteering work,None of the above,None of the above
9645,None,NaN,560ba1e0-da40-0133-db35-0a81e8b09a82,medium,no,SK,urban,2000,female,nO,14_25,I have heard just a little about it,I would probably vote for it,‰Û_ spend more time with my family,It reduces anxiety about financing basic needs,It might encourage people to stop working
9646,None,NaN,cf49ae00-da64-0133-3489-0a81e8b09a82,low,no,SK,rural,61,Male,yES,40_65,I have heard just a little about it,I would probably vote for it,None of the above,None of the above,None of the above
9647,None,NaN,7d3c5860-d8e2-0133-b635-0a81e8b09a82,medium,no,SK,city,1994,male,nO,14_25,I have never heard of it,I would probably vote for it,A basic income would not affect my work choices,"It increases solidarity, because it is funded ...",It might encourage people to stop working | It...
9648,None,NaN,70ce4a90-d965-0133-f5e4-0a81e8b09a82,low,no,SK,Non-Rural,1992,male,NO,juvenile,I have heard just a little about it,I would not vote,‰Û_ spend more time with my family,It reduces anxiety about financing basic needs,None of the above

In [51]:
print('DATAFRAME SHAPE \n - rows: {} \n - columns: {}'.format(finish.shape[0],finish.shape[1]),'\n')
print('DATAFRAME NULLS COUNT: \n{}'.format(finish.isnull().sum()),'\n')
print('DATAFRAME COLUMNS TYPE: \n{}'.format(finish.dtypes,'\n'))

DATAFRAME SHAPE
 - rows: 9649
 - columns: 16

DATAFRAME NULLS COUNT:
normalized_job_code                                    3947
Job_Title                                              3947
uuid                                                      0
dem_education_level                                     663
dem_full_time_job                                         0
country_code                                              1
rural                                                     1
age                                                       1
gender                                                    1
dem_has_children                                          1
age_group                                                 1
question_bbi_2016wave4_basicincome_awareness              1
question_bbi_2016wave4_basicincome_vote                   1
question_bbi_2016wave4_basicincome_effect                 1
question_bbi_2016wave4_basicincome_argumentsfor           1
question_bbi_2016wave4_basicincome_argumentsagainst       1
dtype: int64

DATAFRAME COLUMNS TYPE:
normalized_job_code                                    object
Job_Title                                              object
uuid                                                   object
dem_education_level                                    object
dem_full_time_job                                      object
country_code                                           object
rural                                                  object
age                                                    object
gender                                                 object
dem_has_children                                       object
age_group                                              object
question_bbi_2016wave4_basicincome_awareness           object
question_bbi_2016wave4_basicincome_vote                object
question_bbi_2016wave4_basicincome_effect              object
question_bbi_2016wave4_basicincome_argumentsfor        object
question_bbi_2016wave4_basicincome_argumentsagainst    object
dtype: object

### Age column transformation

In [52]:
finish['age'].unique()

array(['35', '1987', '58', '55', '38', '33', '41', '54', '39', '50', '53',
       '1988', '1993', '48', '43', '45', '1990', '42', '47', '46', '40',
       '32', '56', '1997', '1992', '1996', '1986', '44', '1991', '1989',
       '37', '49', '52', '1994', '64', '62', '31', '60', '36', '1995',
       '59', '57', '34', '63', '51', '1998', '2001', '2000', '1999', '61',
       '2002', '65', nan], dtype=object)

In [48]:
finish['age'] = finish['age'].str.replace('\D','')
finish['age'].unique()

array(['35', '1987', '58', '55', '38', '33', '41', '54', '39', '50', '53',
       '1988', '1993', '48', '43', '45', '1990', '42', '47', '46', '40',
       '32', '56', '1997', '1992', '1996', '1986', '44', '1991', '1989',
       '37', '49', '52', '1994', '64', '62', '31', '60', '36', '1995',
       '59', '57', '34', '63', '51', '1998', '2001', '2000', '1999', '61',
       '2002', '65', nan], dtype=object)

In [41]:
def calculateAge(birthDate):
    today = pd.Timestamp('2016').year
    age = today-int(birthDate)

    return age

In [45]:
greety = []
for birth in finish['age']:
    if len(birth) == 4:
        greety.append(calculateAge(birth))
    else:
        greety.append(birth)

TypeError: object of type 'float' has no len()

In [43]:
len(greety)

5702

In [44]:
personal_info['age'] = np.array(greety)

In [45]:
personal_info.head(20)

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41,Fem,yES,40_65
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,26,FeMale,NO,26_39
6,b50dbb80-da53-0133-8956-0a81e8b09a82,26,Fem,NO,26_39
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,47,Male,NO,40_65
8,4fde2370-da48-0133-3a42-0a81e8b09a82,34,FeMale,nO,26_39
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,22,female,yES,juvenile
10,226cf850-db28-0133-c51a-0a81e8b09a82,49,male,NO,40_65
11,69f1f400-dc5f-0133-ad9b-0a81e8b09a82,58,male,YES,40_65
12,2351fbe0-de4c-0133-0d58-0a81e8b09a82,25,female,NO,14_25
13,0f286c80-dd77-0133-7803-0a81e8b09a82,40,male,YES,40_65
14,fe54f360-db27-0133-c444-0a81e8b09a82,37,male,NO,26_39
15,960b1ce0-db01-0133-528c-0a81e8b09a82,48,male,YES,40_65
16,d7912480-da41-0133-5bc1-0a81e8b09a82,31,male,yES,26_39
17,d468c670-da40-0133-de39-0a81e8b09a82,26,female,NO,26_39
18,76767d10-dd6c-0133-f56d-0a81e8b09a82,17,female,nO,14_25
19,a96ed910-de55-0133-2582-0a81e8b09a82,34,male,YES,26_39

### Country standard

In [21]:
country_info['country_code'].head(10)

0    AT
1    AT
2    AT
3    AT
4    AT
5    AT
6    AT
7    AT
8    AT
9    AT
Name: country_code, dtype: object

In [22]:
country_info['country_code'].unique()

array(['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR',
       'GB', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL',
       'PL', 'PT', 'RO', 'SE', 'SI', 'SK'], dtype=object)

In [23]:
country_info['country_code'] = country_info['country_code'].replace({'GR':'EL',
                                                                     'GB':'UK'})

In [29]:
country_info['country_code']

0       AT
1       AT
2       AT
3       AT
4       AT
        ..
9644    SK
9645    SK
9646    SK
9647    SK
9648    SK
Name: country_code, Length: 9649, dtype: object

In [27]:
url = 'https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes'
html = requests.get(url).content

In [28]:
html[:5000]

b'\xef\xbb\xbf<!DOCTYPE html>\n<html lang="en" dir="ltr" class="client-nojs">\n<head>\n<meta http-equiv="X-UA-Compatible" content="Ie=Edge,chrome=1"/> <meta charset="UTF-8" /><title>Glossary:Country codes - Statistics Explained</title>\n<meta name="generator" content="MediaWiki 1.22.5" />\n<link rel="shortcut icon" href="https://ec.europa.eu/eurostat/estat-theme/images/favicon.ico" />\n<link rel="search" type="application/opensearchdescription+xml" href="/eurostat/statistics-explained/opensearch_desc.php" title="Statistics Explained (en)" />\n<link rel="EditURI" type="application/rsd+xml" href="https://ec.europa.eu/eurostat/statistics-explained/api.php?action=rsd" />\n<link rel="alternate" type="application/atom+xml" title="Statistics Explained Atom feed" href="/eurostat/statistics-explained/index.php?title=Special:RecentChanges&amp;feed=atom" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=ext.rtlcite&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=mediawiki.legacy.commonPrint&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=mediawiki.legacy.shared&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=skins.statexpflat&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<meta name="ResourceLoaderDynamicStyles" content="" />\n<link rel="stylesheet" href="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=site&amp;only=styles&amp;skin=statexpflat&amp;*" />\n<style>a:lang(ar), a:lang(ckb), a:lang(kk-arab), a:lang(mzn), a:lang(ps), a:lang(ur) { text-decoration: none; }</style>\n\n<script src="https://ec.europa.eu/eurostat/statistics-explained/load.php?debug=true&amp;lang=en&amp;modules=startup&amp;only=scripts&amp;skin=statexpflat&amp;*"></script>\n<script>if(window.mw){\nmw.config.set( {\n    "wgCanonicalNamespace": "Glossary",\n    "wgCanonicalSpecialPageName": false,\n    "wgNamespaceNumber": 100,\n    "wgPageName": "Glossary:Country_codes",\n    "wgTitle": "Country codes",\n    "wgCurRevisionId": 479715,\n    "wgRevisionId": 479715,\n    "wgArticleId": 1994,\n    "wgIsArticle": true,\n    "wgIsRedirect": false,\n    "wgAction": "view",\n    "wgUserName": null,\n    "wgUserGroups": [\n        "*"\n    ],\n    "wgCategories": [\n        "Geography glossary",\n        "Glossary"\n    ],\n    "wgBreakFrames": false,\n    "wgPageContentLanguage": "en",\n    "wgPageContentModel": "wikitext",\n    "wgSeparatorTransformTable": [\n        "",\n        ""\n    ],\n    "wgDigitTransformTable": [\n        "",\n        ""\n    ],\n    "wgDefaultDateFormat": "dmy",\n    "wgMonthNames": [\n        "",\n        "January",\n        "February",\n        "March",\n        "April",\n        "May",\n        "June",\n        "July",\n        "August",\n        "September",\n        "October",\n        "November",\n        "December"\n    ],\n    "wgMonthNamesShort": [\n        "",\n        "Jan",\n        "Feb",\n        "Mar",\n        "Apr",\n        "May",\n        "Jun",\n        "Jul",\n        "Aug",\n        "Sep",\n        "Oct",\n        "Nov",\n        "Dec"\n    ],\n    "wgRelevantPageName": "Glossary:Country_codes",\n    "wgIsProbablyEditable": false,\n    "wgRestrictionEdit": [],\n    "wgRestrictionMove": [],\n    "wgWikiEditorEnabledModules": {\n        "toolbar": true,\n        "dialogs": false,\n        "hidesig": true,\n        "templateEditor": false,\n        "templates": false,\n        "preview": false,\n        "previewDialog": false,\n        "publish": false,\n        "toc": false\n    },\n    "wgCategoryTreePageCategoryOptions": "{\\"mode\\":0,\\"hideprefix\\":20,\\"showcount\\":true,\\"namespaces\\":false}"\n} );\n}</script><script>if(window.mw){\nmw.loader.implement( "user.options", function () {\nmw.user.options.set( {\n    "ccmeonemails": 0,\n    "cols": 80,\n    "date": "default",\n    "diffonly": 0,\n    "disablemail": 0,\n    "disablesuggest": 0,\n    "editfont": "default",\n    "editondblclick": 0,\n    "editsection": 1,\n    "editsectiononrightclick": 0,\n    "enotifminoredits": 0,\n    "enotifrevealaddr": 0,\n    "enotifusertalkpages": 1,\n    "enotifwatchlistpages": 1,\n    "extendwatchlist": 0,\n    "fancysig": 0,\n    "forceeditsummary": 0,\n    "gender": "unknown",\n    "hideminor": 0,\n    "hidepatrolled": 0,\n    "imagesize": 2,\n    "justify": 0,\n    "math": 6,\n    "minordefault": 0,\n    "newpageshidepatrolled": 0,\n    "nocache": 0,\n    "noconvertlink": 0,\n    "norollbackdiff": 0,\n    "numberheadings": 0,\n    "previewonfirst": 0,\n    "previewontop": 1,\n    "rcdays": 7,\n    "rclimit": 50,\n    "rememberpassword": 0,\n    "rows": 25,\n    "searchlimit": 20,\n    "showhiddencats": 0,\n    "shownumberswatching": 1,\n    "showtoc": 1,\n    "showtoolbar": 1,\n   '

In [31]:
soup = BeautifulSoup(html, 'html.parser')
table = soup.find_all('td')
countries = [item.text.replace('\n','').replace(' ','') for item in table]
countries_clean = list(filter(None, acronym)

['Belgium',
 '(BE)',
 'Greece',
 '(EL)',
 'Lithuania',
 '(LT)',
 'Portugal',
 '(PT)',
 'Bulgaria',
 '(BG)',
 'Spain',
 '(ES)',
 'Luxembourg',
 '(LU)',
 'Romania',
 '(RO)',
 'Czechia',
 '(CZ)',
 'France',
 '(FR)',
 'Hungary',
 '(HU)',
 'Slovenia',
 '(SI)',
 'Denmark',
 '(DK)',
 'Croatia',
 '(HR)',
 'Malta',
 '(MT)',
 'Slovakia',
 '(SK)',
 'Germany',
 '(DE)',
 'Italy',
 '(IT)',
 'Netherlands',
 '(NL)',
 'Finland',
 '(FI)',
 'Estonia',
 '(EE)',
 'Cyprus',
 '(CY)',
 'Austria',
 '(AT)',
 'Sweden',
 '(SE)',
 'Ireland',
 '(IE)',
 'Latvia',
 '(LV)',
 'Poland',
 '(PL)',
 'UnitedKingdom',
 '(UK)',
 '',
 'Iceland',
 '(IS)',
 '',
 'Norway',
 '(NO)',
 'Liechtenstein',
 '(LI)',
 '',
 'Switzerland',
 '(CH)',
 'Montenegro',
 '(ME)',
 'NorthMacedonia',
 '(MK)',
 'Albania',
 '(AL)',
 'Serbia',
 '(RS)',
 'Turkey',
 '(TR)',
 'BosniaandHerzegovina',
 '(BA)',
 'Kosovo*[1]',
 '(XK[2])',
 'Armenia',
 '(AM)',
 '',
 'Belarus',
 '(BY)',
 '',
 'Georgia',
 '(GE)',
 'Azerbaijan',
 '(AZ)',
 '',
 'Moldova',
 '(MD)',
 '',
 'Ukraine',
 '(UA)',
 'Algeria',
 '(DZ)',
 '',
 'Lebanon',
 '(LB)',
 '',
 'Syria',
 '(SY)',
 'Egypt',
 '(EG)',
 '',
 'Libya',
 '(LY)',
 '',
 'Tunisia',
 '(TN)',
 'Israel',
 '(IL)',
 '',
 'Morocco',
 '(MA)',
 '',
 '\xa0',
 '\xa0',
 'Jordan',
 '(JO)',
 '',
 'Palestine*[3]',
 '(PS)',
 '',
 '\xa0',
 '\xa0',
 'Russia',
 '(RU)',
 'Argentina',
 '(AR)',
 '',
 'China(exceptHongKong)',
 '(CN_X_HK)',
 '',
 'Mexico',
 '(MX)',
 '',
 'SouthAfrica',
 '(ZA)',
 'Australia',
 '(AU)',
 '',
 'HongKong',
 '(HK)',
 '',
 'Nigeria',
 '(NG)',
 '',
 'SouthKorea',
 '(KR)',
 'Brazil',
 '(BR)',
 '',
 'India',
 '(IN)',
 '',
 'NewZealand',
 '(NZ)',
 '',
 'Taiwan',
 '(TW)',
 'Canada',
 '(CA)',
 '',
 'Japan',
 '(JP)',
 '',
 'Singapore',
 '(SG)',
 '',
 'UnitedStates',
 '(US)']

In [32]:
acronym = list(filter(None, acronym))
acronym

['Belgium',
 '(BE)',
 'Greece',
 '(EL)',
 'Lithuania',
 '(LT)',
 'Portugal',
 '(PT)',
 'Bulgaria',
 '(BG)',
 'Spain',
 '(ES)',
 'Luxembourg',
 '(LU)',
 'Romania',
 '(RO)',
 'Czechia',
 '(CZ)',
 'France',
 '(FR)',
 'Hungary',
 '(HU)',
 'Slovenia',
 '(SI)',
 'Denmark',
 '(DK)',
 'Croatia',
 '(HR)',
 'Malta',
 '(MT)',
 'Slovakia',
 '(SK)',
 'Germany',
 '(DE)',
 'Italy',
 '(IT)',
 'Netherlands',
 '(NL)',
 'Finland',
 '(FI)',
 'Estonia',
 '(EE)',
 'Cyprus',
 '(CY)',
 'Austria',
 '(AT)',
 'Sweden',
 '(SE)',
 'Ireland',
 '(IE)',
 'Latvia',
 '(LV)',
 'Poland',
 '(PL)',
 'UnitedKingdom',
 '(UK)',
 'Iceland',
 '(IS)',
 'Norway',
 '(NO)',
 'Liechtenstein',
 '(LI)',
 'Switzerland',
 '(CH)',
 'Montenegro',
 '(ME)',
 'NorthMacedonia',
 '(MK)',
 'Albania',
 '(AL)',
 'Serbia',
 '(RS)',
 'Turkey',
 '(TR)',
 'BosniaandHerzegovina',
 '(BA)',
 'Kosovo*[1]',
 '(XK[2])',
 'Armenia',
 '(AM)',
 'Belarus',
 '(BY)',
 'Georgia',
 '(GE)',
 'Azerbaijan',
 '(AZ)',
 'Moldova',
 '(MD)',
 'Ukraine',
 '(UA)',
 'Algeria',
 '(DZ)',
 'Lebanon',
 '(LB)',
 'Syria',
 '(SY)',
 'Egypt',
 '(EG)',
 'Libya',
 '(LY)',
 'Tunisia',
 '(TN)',
 'Israel',
 '(IL)',
 'Morocco',
 '(MA)',
 '\xa0',
 '\xa0',
 'Jordan',
 '(JO)',
 'Palestine*[3]',
 '(PS)',
 '\xa0',
 '\xa0',
 'Russia',
 '(RU)',
 'Argentina',
 '(AR)',
 'China(exceptHongKong)',
 '(CN_X_HK)',
 'Mexico',
 '(MX)',
 'SouthAfrica',
 '(ZA)',
 'Australia',
 '(AU)',
 'HongKong',
 '(HK)',
 'Nigeria',
 '(NG)',
 'SouthKorea',
 '(KR)',
 'Brazil',
 '(BR)',
 'India',
 '(IN)',
 'NewZealand',
 '(NZ)',
 'Taiwan',
 '(TW)',
 'Canada',
 '(CA)',
 'Japan',
 '(JP)',
 'Singapore',
 '(SG)',
 'UnitedStates',
 '(US)']

In [80]:
row_split = 2

In [81]:
rows_refactored = [acronym[x:x+row_split] for x in range(0, len(acronym), row_split)]

rows_refactored

[['Belgium', '(BE)'],
 ['Greece', '(EL)'],
 ['Lithuania', '(LT)'],
 ['Portugal', '(PT)'],
 ['Bulgaria', '(BG)'],
 ['Spain', '(ES)'],
 ['Luxembourg', '(LU)'],
 ['Romania', '(RO)'],
 ['Czechia', '(CZ)'],
 ['France', '(FR)'],
 ['Hungary', '(HU)'],
 ['Slovenia', '(SI)'],
 ['Denmark', '(DK)'],
 ['Croatia', '(HR)'],
 ['Malta', '(MT)'],
 ['Slovakia', '(SK)'],
 ['Germany', '(DE)'],
 ['Italy', '(IT)'],
 ['Netherlands', '(NL)'],
 ['Finland', '(FI)'],
 ['Estonia', '(EE)'],
 ['Cyprus', '(CY)'],
 ['Austria', '(AT)'],
 ['Sweden', '(SE)'],
 ['Ireland', '(IE)'],
 ['Latvia', '(LV)'],
 ['Poland', '(PL)'],
 ['UnitedKingdom', '(UK)'],
 ['Iceland', '(IS)'],
 ['Norway', '(NO)'],
 ['Liechtenstein', '(LI)'],
 ['Switzerland', '(CH)'],
 ['Montenegro', '(ME)'],
 ['NorthMacedonia', '(MK)'],
 ['Albania', '(AL)'],
 ['Serbia', '(RS)'],
 ['Turkey', '(TR)'],
 ['BosniaandHerzegovina', '(BA)'],
 ['Kosovo*[1]', '(XK[2])'],
 ['Armenia', '(AM)'],
 ['Belarus', '(BY)'],
 ['Georgia', '(GE)'],
 ['Azerbaijan', '(AZ)'],
 ['Moldova', '(MD)'],
 ['Ukraine', '(UA)'],
 ['Algeria', '(DZ)'],
 ['Lebanon', '(LB)'],
 ['Syria', '(SY)'],
 ['Egypt', '(EG)'],
 ['Libya', '(LY)'],
 ['Tunisia', '(TN)'],
 ['Israel', '(IL)'],
 ['Morocco', '(MA)'],
 ['\xa0', '\xa0'],
 ['Jordan', '(JO)'],
 ['Palestine*[3]', '(PS)'],
 ['\xa0', '\xa0'],
 ['Russia', '(RU)'],
 ['Argentina', '(AR)'],
 ['China(exceptHongKong)', '(CN_X_HK)'],
 ['Mexico', '(MX)'],
 ['SouthAfrica', '(ZA)'],
 ['Australia', '(AU)'],
 ['HongKong', '(HK)'],
 ['Nigeria', '(NG)'],
 ['SouthKorea', '(KR)'],
 ['Brazil', '(BR)'],
 ['India', '(IN)'],
 ['NewZealand', '(NZ)'],
 ['Taiwan', '(TW)'],
 ['Canada', '(CA)'],
 ['Japan', '(JP)'],
 ['Singapore', '(SG)'],
 ['UnitedStates', '(US)']]

In [82]:
laststep = pd.DataFrame(rows_refactored, columns=['Country', 'country_code'])

laststep

         Country country_code
0        Belgium         (BE)
1         Greece         (EL)
2      Lithuania         (LT)
3       Portugal         (PT)
4       Bulgaria         (BG)
..           ...          ...
69        Taiwan         (TW)
70        Canada         (CA)
71         Japan         (JP)
72     Singapore         (SG)
73  UnitedStates         (US)

[74 rows x 2 columns]

In [83]:
laststep['country_code'] = laststep['country_code'].str.strip('()').astype(str)

In [84]:
laststep.head(10)

      Country country_code
0     Belgium           BE
1      Greece           EL
2   Lithuania           LT
3    Portugal           PT
4    Bulgaria           BG
5       Spain           ES
6  Luxembourg           LU
7     Romania           RO
8     Czechia           CZ
9      France           FR

In [85]:
country_enriched = pd.merge(country_info, laststep, on='country_code')

In [86]:
country_enriched

                                      uuid country_code        rural   Country
0     f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside   Austria
1     54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban   Austria
2     83127080-da3d-0133-c74f-0a81e8b09a82           AT         city   Austria
3     15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country   Austria
4     24954a70-db98-0133-4a64-0a81e8b09a82           AT         city   Austria
...                                    ...          ...          ...       ...
9644  7d1ac020-dcb4-0133-817a-0a81e8b09a82           SK        urban  Slovakia
9645  39f989f0-db52-0133-8482-0a81e8b09a82           SK        urban  Slovakia
9646  70ce4a90-d965-0133-f5e4-0a81e8b09a82           SK    Non-Rural  Slovakia
9647  2896e440-db3c-0133-5b67-0a81e8b09a82           SK         city  Slovakia
9648  06217ba0-dd56-0133-edda-0a81e8b09a82           SK         city  Slovakia

[9649 rows x 4 columns]

In [87]:
country_info

                                      uuid country_code        rural
0     f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1     54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2     83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3     15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4     24954a70-db98-0133-4a64-0a81e8b09a82           AT         city
...                                    ...          ...          ...
9644  7d1ac020-dcb4-0133-817a-0a81e8b09a82           SK        urban
9645  39f989f0-db52-0133-8482-0a81e8b09a82           SK        urban
9646  70ce4a90-d965-0133-f5e4-0a81e8b09a82           SK    Non-Rural
9647  2896e440-db3c-0133-5b67-0a81e8b09a82           SK         city
9648  06217ba0-dd56-0133-edda-0a81e8b09a82           SK         city

[9649 rows x 3 columns]

In [89]:
country_enriched['Country'].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Cyprus', 'Czechia', 'Germany',
       'Denmark', 'Estonia', 'Spain', 'Finland', 'France',
       'UnitedKingdom', 'Greece', 'Croatia', 'Hungary', 'Ireland',
       'Italy', 'Lithuania', 'Luxembourg', 'Latvia', 'Malta',
       'Netherlands', 'Poland', 'Portugal', 'Romania', 'Sweden',
       'Slovenia', 'Slovakia'], dtype=object)

### Result table

In [49]:
result = pd.DataFrame(np.nan, columns=['Country', 'Job Title','Age','Quantity','Percentage'], index=[0])

In [ ]:
#%% Define optimization
def optimize1(t2info, t1info):
    calculation = []
    for index, r in t2info.iterrows():
        calculation.append(r['number2']*t1info)
    maxrow = calculation.index(max(calculation))
    return t2info.ix[maxrow]

In [50]:
result.head(10)

   Country  Job Title  Age  Quantity  Percentage
0      NaN        NaN  NaN       NaN         NaN

In [ ]:
#%% Iterate through filtering relevant data, optimizing, returning info
for row_index, row in country_info.iterrows():   
    t2info = table2[table2.letter == row['letter']].reset_index()
    table3.ix[row_index,] = optimize(t2info,row['number1'])

In [89]:
def calculateAgeFalse(birthDate):
    TODAY = pd.Timestamp('now').year
    age = TODAY-int(birthDate)

    return age

In [91]:
calculateAgeFalse('01/01/1990')

ValueError: invalid literal for int() with base 10: '01/01/1990'

### Analysis

In [47]:
personal_info.head()

                                   uuid age gender dem_has_children age_group
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82  61   male               NO     40_65
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82  57   male              yES     40_65
2  83127080-da3d-0133-c74f-0a81e8b09a82  32   male               nO     26_39
3  15626d40-db13-0133-ea5c-0a81e8b09a82  45   Male              YES     40_65
4  24954a70-db98-0133-4a64-0a81e8b09a82  41    Fem              yES     40_65

In [ ]:
personal_info[['uuid','Age']].groupby('Age')

In [49]:
personal_info['age'].value_counts()

40    477
45    402
41    400
42    342
43    338
44    297
25    281
35    281
27    257
46    257
47    249
30    248
48    235
50    231
29    220
39    220
19    210
49    210
28    207
26    207
20    202
31    196
18    186
32    181
33    173
22    169
51    167
34    165
53    160
38    160
52    159
24    154
37    150
36    148
23    148
21    145
16    133
55    132
54    126
15    118
17    116
59    107
57     93
58     91
56     83
14     78
60     74
61     72
62     60
63     58
65     45
64     31
Name: age, dtype: int64

In [50]:
personal_info[['age', 'uuid']].size()

TypeError: 'numpy.int64' object is not callable